<div fxLayout="column">
  <div>
    <h1>Heroes Search</h1>
    <mat-divider></mat-divider>
  </div>

  <div fxLayout="column">
    <h3>Search</h3>
    <mat-form-field>
      <mat-label>Number</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [(ngModel)]="term"
        [matAutocomplete]="auto"
        (input)="searching()"
      />
      <mat-autocomplete
        autoActiveFirstOption
        #auto="matAutocomplete"
        (optionSelected)="selectedOption($event)"
      >
        <mat-option *ngFor="let heroe of heroes" [value]="heroe">
          {{ heroe.superhero }}
        </mat-option>

        <mat-option value="" *ngIf="heroes.length === 0 && term.trim().length">
          Nothing has been found with term "{{ term }}"
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

<div>
  <div>
    <pre>{{ heroSelected | json }}</pre>
  </div>

  <div *ngIf="heroSelected">
    <app-hero-card [hero]="heroSelected"></app-hero-card>
  </div>


</div>
